<h1>Cool App Homepage</h1>

{{outlet}}
{{#print-this options=options printSelector=".customContent" as |doPrint|}}
  <div class="customContent">
    <h1>Hello Printer!</h1>
  </div>
  <button onclick={{doPrint}}>Print!</button>
{{/print-this}}
